<div class="long-title">
  <h3>DXCinema Upcoming Movies</h3>
</div>
<dx-scheduler
  id="scheduler"
  [dataSource]="data"
  [views]="['day', 'timelineDay']"
  currentView="day"
  [firstDayOfWeek]="0"
  [startDayHour]="9"
  [endDayHour]="23"
  [showAllDayPanel]="false"
  [currentDate]="currentDate"
  [crossScrollingEnabled]="true"
  [cellDuration]="20"
  [height]="600"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
>
  <dxo-editing [allowAdding]="false"></dxo-editing>

  <div *dxTemplate="let model of 'appointment-template'">
    <div class="showtime-preview">
      <div>{{getMovieById(model.appointmentData.movieId).text}}</div>
      <div>
        Ticket Price:
        <strong>{{"$" + model.appointmentData.price}}</strong>
      </div>
      <div class="dropdown-appointment-dates">
        {{(model.appointmentData.startDate | date:'shortTime') + ' - ' +
        (model.appointmentData.endDate | date:'shortTime')}}
      </div>
    </div>
  </div>

  <div *dxTemplate="let model of 'tooltip-template'"></div>
</dx-scheduler>
<dx-popup [(visible)]="isCustomPopupVisible" [title]="editAppointmentData.text">
  <div *dxTemplate="let data of 'content'">
    <img src={{editAppointmentData.image}} class='dx-field-label'>    
  </div>

  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="{
            text: 'Confirm',
            onClick: confirmSelection
        }"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="{
            text: 'Cancel',
            onClick: cancelSelection
        }"
  >
  </dxi-toolbar-item>
</dx-popup>
